
<p-toast />
<div class="grid">
  <div class="col-12">
    <div class="card">
      <div class="flex flex-row align-items-end mb-4">
        <div class="flex flex-1">
          <p-button icon="pi pi-plus" label="Add Product" (click)="addNewProduct()"/>
        </div>
        <div class="flex">
          <form [formGroup]="viewForm">
            <p-selectButton
              [options]="viewOptions"
              formControlName="value"
              optionLabel="icon"
              optionValue="view"
              (onChange)="switchView()"
            >
              <ng-template let-item pTemplate>
                <i [class]="item.icon"></i>
              </ng-template>
            </p-selectButton>
          </form>
        </div>
      </div>
      <ng-container *ngIf="viewForm['value'].value == 'grid'; else tableView">
        <p-dataView
          #dv
          [value]="products"
          [rows]="9"
          [paginator]="true"
          filterBy="name"
          [sortField]="sortField"
          [sortOrder]="sortOrder"
          layout="grid"
        >
          <ng-template pTemplate="header">
            <div class="flex justify-content-between flex-column sm:flex-row">
              <div class="flex">
                <div class="flex flex-column">
                  <div class="text-m font-semibold mb-1">Sort</div>
                  <p-dropdown
                    placeholder="Sort"
                    [options]="sortOptions"
                    (onChange)="onSortChange($event)"
                    class="mr-2"
                  ></p-dropdown>
                </div>
                <div class="flex flex-column">
                  <div class="text-m font-semibold mb-1">Status</div>
                  <p-dropdown
                    placeholder="Status"
                    [options]="statusOptions"
                    (onChange)="onStatusChange($event)"
                    class="mr-2"
                  ></p-dropdown>
                </div>
                <div class="flex flex-column">
                  <div class="text-m font-semibold mb-1">Category</div>
                  <p-dropdown
                    placeholder="Category"
                    [options]="categoryOptions"
                    (onChange)="onCategoryChange($event)"
                    class="mr-2"
                  ></p-dropdown>
                </div>
              </div>
              <span class="p-input-icon-left mb-2">
                <i class="pi pi-search"></i>
                <input pInputText type="text" #filter placeholder="Search Keyword" class="w-full" (input)="onFilter(dv, $event)"/>
              </span>
            </div>
          </ng-template>
          <ng-template let-products$ pTemplate="gridItem">
            <div class="grid grid-nogutter">
              @for (product of products; track product.id) {
                <div class="col-12 sm:col-6 md:col-4">
                  <div class="card m-3 border-1 surface-border" style="min-height: 450px">
                    <div class="flex flex-wrap gap-2 align-items-center justify-content-between mb-2">
                      <div class="flex align-items-center">
              <span [class]="'category-badge ' + product.categoryName.toLowerCase()">
                {{ product.categoryName.toUpperCase() }}
              </span>
                      </div>
                    </div>
                    <div class="relative flex flex-column align-items-center" style="height: 100%;">
                      <div class="content-section flex-grow p-3" style="height: calc(100% - 200px);">
                        <div class="image-container flex justify-center items-center"
                             style="height: 200px; width: 100%; max-width: 100%; margin-bottom: 10px;">
                          <div
                            [style.background-image]="'url(' + 'data:' + product.cover.fileContentType + ';base64,' + product.cover.file + ')'"
                            class="product-image cursor-pointer"
                            style="background-size: contain; background-position: center;">
                          </div>
                        </div>
                        <p class="text-2xl font-bold text-truncate">{{ product.name }}</p>
                        <p class="text-m mt-2 text-center">
                          {{ product.price | number }}
                          <fa-icon icon="dollar-sign" class="dollar"></fa-icon>
                        </p>
                      </div>
                    </div>
                    <div class="flex align-items-center justify-content-between">
            <span class="text-xl font-semibold">
              {{ product.availableQuantity }}<i class="pi pi-shopping-cart mx-1"></i>
            </span>
                      <p-button icon="pi pi-angle-right" (onClick)="viewProduct(product.id)"></p-button>
                    </div>
                  </div>
                </div>
              }
            </div>
          </ng-template>

        </p-dataView>
      </ng-container>
      <ng-template #tableView>
        <p-table
          #dt1
          [value]="products ?? []"
          dataKey="name"
          [rows]="10"
          [rowHover]="true"
          styleClass="p-datatable-gridlines"
          [paginator]="true"
          responsiveLayout="scroll"
        >
          <ng-template pTemplate="caption">
            <div class="flex justify-content-between flex-column sm:flex-row">
              <div class="flex">
                <div class="flex flex-column">
                  <div class="text-m font-semibold mb-1">Sort</div>
                  <p-dropdown
                    placeholder="Sort"
                    [options]="sortOptions"
                    (onChange)="onSortChange($event)"
                    class="mr-2"
                  ></p-dropdown>
                </div>
                <div class="flex flex-column">
                  <div class="text-m font-semibold mb-1">Status</div>
                  <p-dropdown
                    placeholder="Status"
                    [options]="statusOptions"
                    (onChange)="onStatusChange($event)"
                    class="mr-2"
                  ></p-dropdown>
                </div>
                <div class="flex flex-column">
                  <div class="text-m font-semibold mb-1">Category</div>
                  <p-dropdown
                    placeholder="Category"
                    [options]="categoryOptions"
                    (onChange)="onCategoryChange($event)"
                    class="mr-2"
                  ></p-dropdown>
                </div>
              </div>
              <span class="p-input-icon-left mb-2">
          <i class="pi pi-search"></i>
          <input
            pInputText
            type="text"
            #filter
            placeholder="Search Keyword"
            class="w-full"
            (input)="onTableFilter(dt1, $event)"
          />
        </span>
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th style="min-width: 12rem">Name</th>
              <th style="min-width: 8rem">Price</th>
              <th style="min-width: 8rem">Quantity</th>
              <th style="min-width: 8rem">Status</th>
              <th style="min-width: 12rem">Category</th>
              <th style="min-width: 2rem"></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-product>
            <tr>
              <td>
                <div class="product-details flex align-items-center">
                  <div
                    class="image-container"
                    style="width: 100px; height: 100px; margin-right: 10px; border-radius: 4px; overflow: hidden; border: 1px solid #f1f1f1;"
                  >
                    <div
                      [style.background-image]="'url(' + 'data:' + product.cover.fileContentType + ';base64,' + product.cover.file + ')'"
                      class="product-image"
                      style="width: 100%; height: 100%; background-size: contain; background-position: center; object-fit: contain;"
                    ></div>
                  </div>
                  <div>{{ product?.name }}</div>
                </div>
              </td>



              <td>
                {{ product?.price | number }} <fa-icon icon="dollar-sign"></fa-icon>
              </td>
              <td style="text-align: center">{{ product?.availableQuantity }}</td>
              <td style="text-align: center">
  <span
    [ngClass]="{
      'badge-success': product?.availableQuantity > 5,
      'badge-warning': product?.availableQuantity > 0 && product?.availableQuantity <= 5,
      'badge-danger': product?.availableQuantity <= 0
    }"
    class="badge"
  >
    {{ product?.availableQuantity > 5 ? 'In Stock' : (product?.availableQuantity > 0 ? 'Low Stock' : 'Out of Stock') }}
  </span>
              </td>

              <td>{{ product?.categoryName | uppercase }}</td>
              <td style="text-align: center">
                <p-button
                  icon="pi pi-angle-right"
                  size="small"
                  (onClick)="viewProduct(product?.id)"
                ></p-button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </ng-template>


    </div>
  </div>
</div>
